* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: rgb(192, 197, 255);
  --text-color: rgb(21, 32, 152);
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background-color);
}
main {
  margin: 100px;
}
.info {
  display: flex;
  justify-content: space-between;
}

input,
button,
p {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  border: none;
  background-color: var(--background-color);
  padding: 10px;
  cursor: pointer;
  font-size: small;
}

.element {
  gap: 10px; /* Optional spacing between items */
}

.list,
.listDone {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li {
  content: (var) --content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--text-color);
}

/* Make the input expand */
li input[type="text"] {
  width: 100%;
  outline: none;
}
.hide {
  display: none;
}
h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--text-color);
}
.dropdown-content {
  display: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.show {
  display: block;
}
.content {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: auto auto;
  align-items: center;
}
.delete {
  opacity: 0;
}
li:hover .delete {
  opacity: 1;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.number,
.date {
  display: flex;
}
